h1
 {color: red;
 	background: green;
 	float: middle;}

 aside
 {color: blue;
 	padding-left: 15px;
 	padding-right: 12px;
 	background-color: yellow;
 	float: right;
 	font-style: italic;}

 ol
 { color: blue;
   font-style: italic; }

  h3
  {color: Red;}

  table,th,td
  {border: 1px solid black;
  }
  data
  {color: green;
  }

dt
{color: blue;
font: italic;
}
